{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class = "col-xs-12" style = "float: left; padding-right: 0px;  min-width: 100px; ">
		<div class="row">
			
			<div class="items col-xs-6 col-sm-2 col-md-2 col-lg-2" style = "float: left; padding-right: 20px; ">
				<h4>Dosage:</h4>
				<input type = "text" class = "form-control" id = "dosage" />
			</div>
			<div class = "col-xs-3" style = "float: left; padding-right: 20px; ">
				<h4>Unit of Measure:</h4> 
				<input type = "text" class = "form-control" id = "unit" />
			</div>

		</div>
			<br>

		     	<div class = "row">
					<button id = "getData" type="button" class="btn-default" onclick = "submitEntry()" > Send </button>
				</div>
<br>

				<div id= bootstrapTable>
					<table id = "dataTable" class = "table-striped" data-search="true" data-show-columns="true" data-pagination="true" data-height=75%>
						<thead id = "dataTableHead" style = "background-color: #333333; color: white; ">        
							<tr id = "firstRow" ></tr>
						</thead>
					</table>
				</div>

			</div>
		</div>
	</div>

<script type="text/javascript">

$('#search').on('keyup', function () {
  var pattern = $(this).val();
  $('.items-collection .items').hide();
  $('.items-collection .items').filter(function () {
      return $(this).text().match(new RegExp(pattern, 'i'));
  }).show();
});


function submitEntry(){
	//some ajax and parsing to post entry details to the db
	//setUpTable();
	var dosage = $('#dosage').val();
	var unit = $('#unit').val(); 
	var query = dosage + ':::' + unit;

    $.ajax({
		type: "POST",
		headers: {"Content-Type": "application/json"},
		url: "/add_dosage",
		dataType: "json",
		data: JSON.stringify(query),
		success:function(response){
			localStorage.setItem('queryResults', JSON.stringify(response));
	        var bootstrapTab = $( '#dataTable' ).bootstrapTable({
	          data: response            
	        });
		}, 
		error:function(e){
			console.log("well shit"); 
			console.log(e);
		}
    }); 
}

function displayAsTable(){
	//display bootstrap table of already entered items 

}

  function setUpTable() { 
    var parentBody = document.getElementById("bootstrapTable");
    console.log(parentBody); 
    while(parentBody.hasChildNodes()) {
      parentBody.removeChild(parentBody.firstChild);
    }
    var resultsTable = document.createElement("table"); 
    resultsTable.id = "dataTable";        
    resultsTable.setAttribute("class", "table-striped"); 
    resultsTable.setAttribute("data-search", "true"); 
    resultsTable.setAttribute("data-show-columns", "true"); 
    resultsTable.setAttribute("data-pagination", "true"); 
    resultsTable.setAttribute("data-height", "75%"); 

    var head = document.createElement("thead");
    head.setAttribute("id", "dataTableHead");
    var headerRow = document.createElement("tr");
    headerRow.setAttribute("id", "firstRow");
    head.appendChild(headerRow);
    resultsTable.appendChild(head);
    parentBody.appendChild(resultsTable);
  }

  function addConcatColumnName(str) {
    var colName = document.createElement("th");
    var name = str.split('_');
    colName.setAttribute("data-field", str);        
    colName.setAttribute("data-sortable", "true"); 
    var text = ""; 
    for (word in name) { 
      text += capitalize(name[word]) + " "; 
    }
    colName.innerText = text; 
    $( '#firstRow' ).append(colName); 
  }

   function populateTableFromLocalStorage(){
    var cols = localStorage['selectedCols'].split(',');
    var res = localStorage['queryResults'];
    var isConcat = localStorage['isConcat'];
    for (col in cols) {
      addConcatColumnName(cols[col]);
     /* if(isConcat) 
        addConcatColumnName(cols[col]);
      else addColumnName(cols[col]); */
    } 
    $('#dataTable').bootstrapTable({    
      data: JSON.parse(res)         
    });
  }

  
function deleteEntry(){
	//some code to delete an added entry by clicking a button next to the row in the table 
}

function editEntry(){
	//some code to edit an added entry by clicking a button next to the row in the table 

}
</script>
{% endblock %}
